<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="Model1" connectionString="data source=DESKTOP-PEH7GUJ\SQLEXPRESS;initial catalog=Bida;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="BD" connectionString="data source=Dlong\SQLEXPRESS;initial catalog=Bida;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model2" connectionString="data source=LENOVO\SQLEXPRESS01;initial catalog=Bida;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model3" connectionString="data source=DESKTOP-PEH7GUJ\SQLEXPRESS;initial catalog=Bida;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model4" connectionString="data source=DESKTOP-PEH7GUJ\SQLEXPRESS;initial catalog=Bida;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model22" connectionString="data source=LENOVO\SQLEXPRESS01;initial catalog=Bida;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model9" connectionString="data source=LENOVO\SQLEXPRESS01;initial catalog=Bida;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="ModelDL" connectionString="data source=DLONG\SQLEXPRESS;initial catalog=Bida;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model8" connectionString="data source=LENOVO\SQLEXPRESS01;initial catalog=Bida;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model12" connectionString="data source=DLONG\SQLEXPRESS;initial catalog=Bida;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>