USE [master]
GO

/****** Object:  Database [Bida]     ******/
CREATE DATABASE [Bida]
GO
USE [Bida]
GO

/****** Object:  Table [dbo].[BAN]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] IDENTITY(1,1) NOT NULL,
	[LOAIBAN] [bit] NULL,
	[KHUVUC] [int] NULL,
	[TINHTRANG] [bit] NULL,
	[GIOBD] [datetime] NULL,
	[GIOKT] [datetime] NULL,
	[MAKH] [int] NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[BAN] WITH ROWCOUNT = 19, PAGECOUNT = 1
GO
/****** Object:  Table [dbo].[BIENLAI]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIENLAI](
	[MABIENLAI] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [varchar](50) NOT NULL,
	[MABAN] [int] NOT NULL,
	[MAKH] [int] NULL,
	[ThoiGian] [nvarchar](50) NULL,
	[TONGTIEN] [nchar](10) NULL,
	[GioBD] [datetime] NULL,
	[GioKT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[BIENLAI] WITH ROWCOUNT = 16, PAGECOUNT = 2
GO
/****** Object:  Table [dbo].[CHITIETBIENLAI]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETBIENLAI](
	[MAKH] [varchar](100) NOT NULL,
	[MABIENLAI] [varchar](100) NOT NULL,
	[TONGTIEN] [money] NULL,
	[SOGIO] [int] NULL,
 CONSTRAINT [PK_CHITIETBIENLAI] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MABIENLAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[SDT] [nvarchar](50) NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[KHACHHANG] WITH ROWCOUNT = 8, PAGECOUNT = 1
GO
/****** Object:  Table [dbo].[NHANVIEN]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[CALAM] [bit] NULL,
	[PASSNV] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[NHANVIEN] WITH ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Table [dbo].[QUANLI]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANLI](
	[MANHANVIEN] [varchar](50) NOT NULL,
	[TENNHANVIEN] [varchar](100) NULL,
	[CALAM] [bit] NULL,
	[PASSNV] [varchar](100) NULL,
 CONSTRAINT [PK_QUANLI] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([MABAN], [LOAIBAN], [KHUVUC], [TINHTRANG], [GIOBD], [GIOKT], [MAKH]) VALUES (2, 0, 1, 0, CAST(0x0000A830008C1360 AS DateTime), CAST(0x0000A83000CDA550 AS DateTime), 1)
INSERT [dbo].[BAN] ([MABAN], [LOAIBAN], [KHUVUC], [TINHTRANG], [GIOBD], [GIOKT], [MAKH]) VALUES (4, 1, 1, 0, CAST(0x0000A830008C1360 AS DateTime), CAST(0x0000A83000CE700C AS DateTime), 1)
INSERT [dbo].[BAN] ([MABAN], [LOAIBAN], [KHUVUC], [TINHTRANG], [GIOBD], [GIOKT], [MAKH]) VALUES (6, 1, 1, 0, CAST(0x0000A5ED009E08A4 AS DateTime), CAST(0x0000A5EC018359B8 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BAN] OFF
SET IDENTITY_INSERT [dbo].[BIENLAI] ON 

INSERT [dbo].[BIENLAI] ([MABIENLAI], [MANHANVIEN], [MABAN], [MAKH], [ThoiGian], [TONGTIEN], [GioBD], [GioKT]) VALUES (1, N'white', 7, 2, N'0 gi? 0 phút', N'0.000 VND ', CAST(0x0000A5EC018175BC AS DateTime), CAST(0x0000A5EC018175BC AS DateTime))
INSERT [dbo].[BIENLAI] ([MABIENLAI], [MANHANVIEN], [MABAN], [MAKH], [ThoiGian], [TONGTIEN], [GioBD], [GioKT]) VALUES (2, N'white', 8, 4, N'0 gi? 0 phút', N'0.000 VND ', CAST(0x0000A5EC0181E3E4 AS DateTime), CAST(0x0000A5EC0181E510 AS DateTime))
INSERT [dbo].[BIENLAI] ([MABIENLAI], [MANHANVIEN], [MABAN], [MAKH], [ThoiGian], [TONGTIEN], [GioBD], [GioKT]) VALUES (3, N'white', 15, 2, N'0 gi? 0 phút', N'0.000 VND ', CAST(0x0000A5EC01827B10 AS DateTime), CAST(0x0000A5EC01827C3C AS DateTime))
SET IDENTITY_INSERT [dbo].[BIENLAI] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT]) VALUES (1, N'', N'')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT]) VALUES (2, N'Dương Nhật Bình', N'0914722032  ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT]) VALUES (3, N'Pikachu', N'0838858410')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TenNhanVien], [CALAM], [PASSNV]) VALUES (N'white', N'Minh Thanh', 1, N'123')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TenNhanVien], [CALAM], [PASSNV]) VALUES (N'nhatbinh', N'Nhât Bình', 0, N'123')
/****** Object:  Index [PK_BAN]     ******/
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [PK_BAN] PRIMARY KEY NONCLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_BIENLAI]     ******/
ALTER TABLE [dbo].[BIENLAI] ADD  CONSTRAINT [PK_BIENLAI] PRIMARY KEY NONCLUSTERED 
(
	[MABIENLAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [LAP_FK]     ******/
CREATE NONCLUSTERED INDEX [LAP_FK] ON [dbo].[BIENLAI]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]     ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[BIENLAI]
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETBIENLAI_FK]     ******/
CREATE NONCLUSTERED INDEX [CHITIETBIENLAI_FK] ON [dbo].[CHITIETBIENLAI]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETBIENLAI2_FK]     ******/
CREATE NONCLUSTERED INDEX [CHITIETBIENLAI2_FK] ON [dbo].[CHITIETBIENLAI]
(
	[MABIENLAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]     ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]     ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [FK_BAN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [FK_BAN_KHACHHANG]
GO
ALTER TABLE [dbo].[BIENLAI]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAI_CO_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[BIENLAI] CHECK CONSTRAINT [FK_BIENLAI_CO_KHACHHANG]
GO
ALTER TABLE [dbo].[BIENLAI]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAI_LAP_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[BIENLAI] CHECK CONSTRAINT [FK_BIENLAI_LAP_NHANVIEN]
GO
ALTER TABLE [dbo].[BIENLAI]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAI_RELATIONS_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[BIENLAI] CHECK CONSTRAINT [FK_BIENLAI_RELATIONS_BAN]
GO
ALTER TABLE [dbo].[QUANLI]  WITH CHECK ADD  CONSTRAINT [FK_QUANLI_INHERITAN_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[QUANLI] CHECK CONSTRAINT [FK_QUANLI_INHERITAN_NHANVIEN]
GO
/****** Object:  Statistic [_WA_Sys_00000007_0EA330E9]     ******/
CREATE STATISTICS [_WA_Sys_00000007_0EA330E9] ON [dbo].[BAN]([MAKH]) WITH STATS_STREAM = 0x01000000010000000000000000000000DC6885D000000000CB010000000000008B010000000000003802FFFF3800000004000A00000000000000000000000000070000003A67C50030A8000012000000000000001200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000904100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000009041000000000000803F010000000400001200000000000000
GO
/****** Object:  Statistic [PK_BAN]     ******/
UPDATE STATISTICS [dbo].[BAN]([PK_BAN]) WITH STATS_STREAM = 0x01000000010000000000000000000000EF73FD3F000000000103000000000000C1020000000000003803ECE73800000004000A0000000000000000000100000007000000E266C50030A80000120000000000000012000000000000000000803F398E633D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000B0000000B00000001000000140000000000804000009041000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000055010000000000005D0100000000000058000000000000006F0000000000000086000000000000009D00000000000000B400000000000000CB00000000000000E200000000000000F900000000000000100100000000000027010000000000003E01000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F000000000000803F10000000040000100014000000803F000000000000803F12000000040000100014000000803F000000000000803F130000000400001200000000000000, ROWCOUNT = 19, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000004_0F975522]     ******/
CREATE STATISTICS [_WA_Sys_00000004_0F975522] ON [dbo].[BIENLAI]([MAKH]) WITH STATS_STREAM = 0x010000000100000000000000000000001B0C4967000000002802000000000000E801000000000000380200103800000004000A00000000000000000000000004070000005567C50030A800000B000000000000000B00000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000304100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000E040000000000000803F010000000400001000140000000040000000000000803F02000000040000100014000000803F000000000000803F04000000040000100014000000803F000000000000803F070000000400000B00000000000000
GO
/****** Object:  Statistic [LAP_FK]     ******/
UPDATE STATISTICS [dbo].[BIENLAI]([LAP_FK]) WITH STATS_STREAM = 0x010000000100000000000000000000001482E7AF000000001102000000000000D101000000000000A7030000A7000000320000000000000008D0003400000000070000001267C50030A800000B000000000000000B00000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A04000003041000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000024000000000000005D00000000000000650000000000000008000000000000003000100000003041000000000000803F04000001001C007768697465FF01000000000000000A00000001000000280000002800000000000000000000000500000077686974650200000040000000000A05000000000B00000000000000, ROWCOUNT = 16, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_BIENLAI]     ******/
UPDATE STATISTICS [dbo].[BIENLAI]([PK_BIENLAI]) WITH STATS_STREAM = 0x01000000010000000000000000000000C3775FF30000000085020000000000004502000000000000380300003800000004000A00000000000000000000000000070000000A67C50030A800000B000000000000000B000000000000000000803F8C2EBA3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000700000007000000010000001400000000008040000030410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000D900000000000000E10000000000000038000000000000004F0000000000000066000000000000007D000000000000009400000000000000AB00000000000000C200000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F000000000000803FEE030000040000100014000000803F000000000000803FF20300000400000B00000000000000, ROWCOUNT = 16, PAGECOUNT = 1
GO
/****** Object:  Statistic [RELATIONSHIP_3_FK]     ******/
UPDATE STATISTICS [dbo].[BIENLAI]([RELATIONSHIP_3_FK]) WITH STATS_STREAM = 0x010000000100000000000000000000005D3FD3A5000000004702000000000000070200000000000038030A023800000004000A00000000000000000000000000070000001567C50030A800000B000000000000000B0000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000304100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000009B00000000000000A30000000000000028000000000000003F0000000000000056000000000000006D000000000000008400000000000000100014000000803F000000000000803F06000000040000100014000000803F000000000000803F07000000040000100014000000A040000000000000803F080000000400001000140000004040000000000000803F0D000000040000100014000000803F000000000000803F0F0000000400000B00000000000000, ROWCOUNT = 16, PAGECOUNT = 1
GO
/****** Object:  Statistic [CHITIETBIENLAI_FK]     ******/
UPDATE STATISTICS [dbo].[CHITIETBIENLAI]([CHITIETBIENLAI_FK]) WITH STATS_STREAM = 0x0100000002000000000000000000000092567CE40000000058000000000000000000000000000000A7030000A7000000640000000000000008D000343F000000A7030000A7000000640000000000000008D0003484000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [CHITIETBIENLAI2_FK]     ******/
UPDATE STATISTICS [dbo].[CHITIETBIENLAI]([CHITIETBIENLAI2_FK]) WITH STATS_STREAM = 0x0100000002000000000000000000000092567CE40000000058000000000000000000000000000000A7030000A7000000640000000000000008D000343F000000A7030000A7000000640000000000000008D0003484000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_CHITIETBIENLAI]     ******/
UPDATE STATISTICS [dbo].[CHITIETBIENLAI]([PK_CHITIETBIENLAI]) WITH STATS_STREAM = 0x0100000002000000000000000000000092567CE40000000058000000000000000000000000000000A7030000A7000000640000000000000008D000343F000000A7030000A7000000640000000000000008D0003484000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_KHACHHANG]     ******/
UPDATE STATISTICS [dbo].[KHACHHANG]([PK_KHACHHANG]) WITH STATS_STREAM = 0x01000000010000000000000000000000558FCE88000000002802000000000000E8010000000000003803006F3800000004000A00000000000000000000000000070000001E67C50030A80000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F070000000400000700000000000000, ROWCOUNT = 8, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_1367E606]     ******/
CREATE STATISTICS [_WA_Sys_00000002_1367E606] ON [dbo].[NHANVIEN]([TenNhanVien]) WITH STATS_STREAM = 0x01000000010000000000000000000000640E74C4000000006B020000000000002B02000000000000E70399E6E7000000640000000000000008D000340000000007000000B4A6C60030A8000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000080410000004000000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000B700000000000000BF0000000000000010000000000000003900000000000000300010000000803F000000000000803F040000010029004E006800E200740020004200EC006E006800300010000000803F000000000000803F0400000100250054006800BF1E200041006E006800FF0100000000000000020000000200000028000000280000000000000000000000100000004E006800E200740020004200EC006E00680054006800BF1E200041006E00680003000000400000000081090000000107090000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_1367E606]     ******/
CREATE STATISTICS [_WA_Sys_00000003_1367E606] ON [dbo].[NHANVIEN]([CALAM]) WITH STATS_STREAM = 0x0100000001000000000000000000000058E8CB4F00000000E401000000000000A40100000000000068020000680000000100010000000000000000007F00000007000000AAA6C60030A8000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00000040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003800000000000000400000000000000010000000000000002400000000000000100011000000803F000000000000803F00040000100011000000803F000000000000803F010400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_1367E606]     ******/
CREATE STATISTICS [_WA_Sys_00000004_1367E606] ON [dbo].[NHANVIEN]([PASSNV]) WITH STATS_STREAM = 0x010000000100000000000000000000002F0288530000000043020000000000000302000000000000A7020000A7000000640000000000000008D000340000000007000000A9A6C60030A8000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000C04000000040000000000000C0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004A000000000000008F00000000000000970000000000000010000000000000002D00000000000000300010000000803F000000000000803F04000001001D00313233343536300010000000803F000000000000803F04000001001D00616E68313233FF01000000000000000200000002000000280000002800000000000000000000000C000000313233343536616E6831323303000000400000000081060000000106060000000200000000000000
GO
/****** Object:  Statistic [PK_NHANVIEN]     ******/
UPDATE STATISTICS [dbo].[NHANVIEN]([PK_NHANVIEN]) WITH STATS_STREAM = 0x010000000100000000000000000000000B70601F0000000045020000000000000502000000000000A7030000A7000000320000000000000008D0003400000000070000002867C50030A8000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000D04000000040000000000000D0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004B000000000000009100000000000000990000000000000010000000000000002F00000000000000300010000000803F000000000000803F04000001001F006E68617462696E68300010000000803F000000000000803F04000001001C007768697465FF01000000000000000200000002000000280000002800000000000000000000000D0000006E68617462696E68776869746503000000400000000081080000000105080000000200000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_QUANLI]     ******/
UPDATE STATISTICS [dbo].[QUANLI]([PK_QUANLI]) WITH STATS_STREAM = 0x0100000001000000000000000000000071E90E940000000040000000000000000000000000000000A7030000A7000000320000000000000008D0003400000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
USE [master]
GO

create table [ORDER] (
	TENNUOC nvarchar(100),
	SOLUONG int,
	DONGIA int,
);



select * from [ORDER]
select * from BAN
select * from BIENLAI
select * from CHITIETBIENLAI
select * from KHACHHANG
select * from NHANVIEN
select * from QUANLI
select * from nuoc